<h1>Welcome to Bookers!!</h1>
<p>you can share and exchange your opinions , inpressions , and emotions

about various books!</p>

<a class="btn1" href="/users/sign_in">Log in</a>
<a class="btn2" href="/users/sign_up">Sign in</a>