@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

table{
    width: 100%;
}

.btn-user {
    border: 1px solid transparent;
    text-align: center;
    border-color: #6c757d;
    width: 100%;
    padding-top: 0.375rem ;
}



